header {
  position: relative;
  padding: 30px 15px;
  text-align: center;
  overflow: hidden;
}

.header-content {
  position: relative;
  z-index: 2;
}

.semi-circle {
  position: absolute;
  top: 0;
  height: 120%;
  width: 120%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 50% 50%;
  background-color: var(--primary-light);
  z-index: -1;
}
.logo {
  font-size: 36px;
  font-weight: bold;
  color: #1e40af;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  color: #1f2937;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--primary);
}

.hero {
  max-width: 80%;
  max-height: 200px;
  overflow: hidden;
}

.hero img {
  width: 50;
  height: 50;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  z-index: 1;
}
