/* ============================= */
/* Reviews Section Layout */
/* ============================= */

.reviews {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px 30px;
  text-align: center;
}

@media (min-width: 1200px) {
  .reviews {
    padding: 40px 100px;
  }
}

/* ============================= */
/* Buttons Container */
/* ============================= */

.reviews-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* ============================= */
/* Review Buttons */
/* ============================= */

.reviews-button {
  cursor: pointer;
  border: none;
  width: 80%;
  height: 200px;
  font-size: 12px;
  padding: 10px 10px;
  background: none;
  margin-bottom: 10px;
}

.reviews-button h3 {
  font-size: 15px;
}

@media (min-width: 1200px) {
  .reviews-button {
    width: 100%;
    font-size: 20px;
  }

  .reviews-button h3 {
    font-size: 30px;
  }
}

/* Hover Effect */
.reviews-button:hover {
  border-top: 8px solid var(--primary);
  background-colour: var(--primary-light);
  border-bottom: none;
}

@media (min-width: 1200px) {
  .reviews-button:hover {
    transition: all 300ms;
  }
}

/* Active Button State */
.reviews-button.currently-review-button {
  background: var(--primary-light);
  border-top: 8px solid var(--primary);
}

/* ============================= */
/* Review Details */
/* ============================= */

/* Hide All Reviews by Default */
.reviews-details {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Active Review (Visible) */
.currently-review-tab {
  display: block;
  opacity: 1;
}

/* Review Text */
.review-text {
  font-size: 15px;
}

@media (min-width: 1200px) {
  .review-text {
    font-size: 20px;
  }
}
