/* Colors */
:root {
  --primary: #796eff;
  --primary-light: #f6f3fc;
  --text-heading: #35414b;
  --text-body: #4e5a65;
  --background-header: #fbfafe;
  --background-footer: #1d2830;
}

/* Desktop */

h1 {
  font-weight: semibold;
}
h2 {
  color: var(--text-heading);
}
